
nav{ 
display:table;
background-color:#005386;
height:60px;
width:100%;
 }
nav a{
	text-decoration:none;
	margin:20px;
	padding:20px;
	font-size:2em;
	display:table-cell;
	vertical-align:middle;
}
nav a:hover,focus{
	background-color:#EEFB54;
	color:#088A08;
}
nav a:visited{
color:#DF7401;
}
nav form{
	display:flex;
	flex-wrap:wrap;
	float:right;
	margin-right:30px;
}
aside{
	display:flex-wrap;
	flex-wrap:wrap;
	position:absolute;
	width:17.5%;
	height:400px;
	float:left;
	margin-left: 2%;
}
aside div{
	display:flex-wrap;
	background-color:#910AF5;
}
aside div figure{
	width:50%;
	height:50%;
}
.fotouser{
	width:100%;
	border-radius:10em;
	border: 2px solid #F55F0A;
}
aside div p{
	color:#FFF;
}
aside p{
	font-family: Arial;
	font-weight: 1em;
}
aside ul{
	background-color:#FFF;
	list-style-type:none;
	height:285px;
	overflow: auto;
}
aside ul li{
	padding:8px;
	margin:12px;
	font-weight:2em;
	font-size:1.5em;
	color:#088A08;
}
section{
	background-color:#AFAEB0;
	display:wrap;
	width:80%;
	float:right;
	margin-left:0.5%;
}
section article{
	display:flex;
	flex-wrap:wrap;
}
section article div{
	display:inline-block;
	height:150px;
}
.inf1{
	

}
.inf1 div{
	width:21.50%;
	margin:1.27%;
	border: 2px solid #F00;
}
.cbox1{
	background-color:#F50A81;
}
.cbox2{
	background-color:#F50A00;
}
.cbox3{
	background-color:#F50A01;
}
.cbox4{
	background-color:#F50081;
}
.img-box1,.img-box2,.img-box3,.img-box4{
	width:25%;
	border-radius:10em;
	border: 2px solid #F55F0A;
	background-color:#FFF;
}
.imag-figure{
	background-color:#FFF;
	width:775px;
	height:300px;
	margin:auto;
	margin:auto;
	text-align:center;
}
.inf2 figure{
	width:94.5%;
	margin:1.27%;
	background-color:#3A919E;
}
section article figure{
	height:300px;
	
}
.inf3 div{
	width:29.6%;
	margin:1.27%;
}
.cbox5{
	background-color:#000A81;
}
.cbox6{
	background-color:#F50A01;
}
.cbox7{
	background-color:#F50A00;
}

@media screen and (min-width:600px) and (max-width:1024px){
nav{ 
height:60px;
width:100%;
 }
nav a{
	margin:10px;
	padding:0.5em;
	font-size:1.5em;
}
nav form{
	margin-right:10px;
	margin-top: 35px;
}
nav select{
	float:right;
	margin-right:10px;
}
aside{
	width:30%;
	height:400px;
	float:left;
	margin-left: 1%;
	
}
aside div{
	
}
aside div figure{
	width:50%;
	height:50%;
	
}
aside p{
	font-family: Arial;
	font-weight: 1.5em;
}
aside ul{
	background-color:#FFF;
	list-style-type:none
	;
}
aside ul li{
	padding:8px;
	margin:12px;
	font-weight:2em;
	font-size:1.5em;
}
section{
	display:wrap;
	width:65%;
	float:right;
	margin-left:0.5%;
}
section article{
	display:flex-wrap;
}
section article div{
	display:inline-block;
	height:150px;
}
.inf1{
	

}
.inf1 div{
	width:45%;
	margin:1.27%;
	border: 2px solid #F00;
}

.inf2 figure{
	width:94.5%;
	margin:1.27%;
}
section article figure{
	height:200px;
	width:80%;
}
.imag-figure{
	width:370px;
	height:200px;
	margin:auto;
	text-align:center;
}
.inf3 div{
	width:29%;
	margin:1.27%;

}
.cbox5{
	background-color:#000A81;
}
.cbox6{
	background-color:#F50A01;
}
.cbox7{
	background-color:#F50A00;
}
/* Formulario contacto */

}	
@media screen and (max-width:599px){
nav{ 
height:90px;
width:98.5%;
display:block;
text-align:center;
margin:0 auto;
 }
nav a{
	margin:10px;
	padding:0.5em;
	font-size:1.5em;
}
nav form{
	margin-right:10px;
	margin-top: 35px;
}
nav select{
	float:right;
	margin-right:10px;
}
aside{
	width:94.5%;
	height:400px;
	display:block;	
}
aside div{
	width:100%;
	height:auto;
	display:block;
}
aside div figure{
	width:50%;
	height:50%;
	
}
aside p{
	font-family: Arial;
	font-weight: 1.5em;
}
aside ul{
	background-color:#FFF;
	list-style-type:none;
	display:block;
}
aside ul li{
	padding:8px;
	margin:12px;
	font-weight:2em;
	font-size:1.5em;
}
section{
	display:block;
	width:94.5%;
	margin-left:0.5%;
	margin-top:430px;
}
section article{
	display:block;
}
section article div{
	display:block;
	height:200px;
}
.inf1{
	

}
.inf1 div{
	display:block;
	width:94.5%;
	margin:1.27%;
	border: 2px solid #F00;
}

.inf2 figure{
	width:94.5%;
	margin:1.27%;
}
section article figure{
	height:200px;
	width:94.5%;
	margin:auto;
	text-align:center;
}
.imag-figure{
	width:150px;
	height:100px;
}
.inf3 div{
	width:94.5%;
	margin:1.27%;

}
.img-box1,.img-box2,.img-box3,.img-box4{
	width:40%;
	float:left;
}
}
@media screen and (max-width:599px)